<div id="user-list">
    <ul>
    {% for user in users %}
        <li class="user">
            <strong>{{ user.id }}</strong> - {{ user.email }}
        </li>
    {% endfor %}
    </ul>
    <div id="pagination-wrapper">
        <div id="current-page">
            {{ page }}/{{ totalPages }}
        </div>
        <ul id="pagination">
            {% for pageNbr in 1..totalPages %}
                <li {% if pageNbr==page %} class='active' {% endif %}>
                    <button
                        hx-get="{{ '/users/list/' ~ pageNbr }}"
                        hx-target="#user-list"
                        hx-swap="outerHTML"
                        hx-replace-url="{{ '/users/' ~ pageNbr }}"
                    >{{ pageNbr }}</button>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
